@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Poppins:wght@700;800&family=Rubik+Glitch&family=Michroma&display=swap');

@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif; /* Default Body Font */
  
  background-image: url("/aero-bg.jpg"); 
  background-size: cover;            
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}